h1{
    font-family: 'Space Grotesk', sans-serif, bold;
    letter-spacing: 10px; 
    text-align: center;
}
h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 10pt;
    text-align: right;
    padding-right: 30px;
}
h5 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20pt;
    text-align: center;
}
p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14pt;
}

a {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14pt;
    
}
.navbar-light {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 60%;
}
.c {
    border: 3px solid #A0A0A0;
    border-radius: 15px !important;

}
.my-card {
    border: 3px solid #FFFFFF;
}

.btn-primary {
    background: #000000;
}

.form {
    padding-right: 30px;
    padding-left: 30px;
}

.my-list {
    padding-right: 30px;
    padding-left: 30px;
}

/*.r {
    border: 3px solid #000080;
    border-radius: 15px !important;
}*/
/*html {
    background: #000000; }*/