<%- include("./partials/header")%>
<% if (!userContext) { %>
  <h3>Please go back</h3>
<% }else{ %> 
<div class="jumbotron">
  <div class="container">
    <h1>Add a new course.</h1>
    <form action="/courses" method="POST">
      <div class="form-group form">
        <label for="newCourse">Course Code:</label>
        <input type="text" name="name" class="form-control mb-3" id="course code" aria-describedby="course code"
          placeholder="For example, APS100" required>
        <label for="newCourse">Course Description:</label>
        <input type="text" name="description" class="form-control mb-3" placeholder="General description" required>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>


    </form>
  </div>
</div>
<% } %> 
<%- include("./partials/footer")%>