<%- include("./partials/header")%>
<div class="jumbotron">
  <div class="container">
    <h1>Add a new lab.</h1>
    <% if (user) { %>
     <form action="/courses/<%= course._id %> " method="POST">
      <div class="form-group form">
        <label for="labName" class="col-form-label">Lab name:</label>
        <div>
          <input type="text" name="lab[name]" class="form-control mb-3" id="inputEmail3"placeholder = "Lab1" required>
        </div>

        <label for="labLink" class="col-form-label">Link to download zip file: (MUST INCLUDE http://)</label>
        <div>
          <input type="link" name="lab[downloadLink]" class="form-control mb-3" id="inputPassword3" placeholder="https://github.com/yvonne-yang/codecker/archive/main.zip" required>
        </div>
        <label for="labtextbox">Expected output of text case files:</label>
        <textarea name="lab[correctOutputFile]" class="form-control mb-3" id="labtextbox1" rows="10" required></textarea>

        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
    <% } %>
    
  </div>
</div>
<%- include("./partials/footer")%>